@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    margin-top: 100px;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logodiv {
    padding: 0;
}

nav .logo {
    height: 70px;
    width: 70%;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
    width: 75vw;
    justify-content: space-evenly;
    line-height: 32px;
    padding: 0;
    font-size: 13px;
}

ul li {
    background-color: #f99dd5;
    border: 2px solid #f99dd5;
    height: 35px;
    border-radius: 250px;
    text-align: center;
    padding: 0px 8px 0px 8px;
    /* margin: 0px 5px 0px 5px; */
    width: auto;
    font-weight: 700;
}

ul li a {
    color: white;
}

ul li a:hover {
    font-weight: 900;
    text-decoration: underline;
    color: #f20b97;
}

ul li a:active {
    font-weight: 900;
    text-decoration: none;
    color: #D90987;
}

.fa-list-ul {
    display: none;
}

.menu {
    padding: 0;
}

/* #check {
    display: none;
} */

/* Footer Start */

div.footer {
    background-color: #a6a6a6;
    position: absolute;
    bottom: 0;
    width: 100vw;
    color: #e6e6e6;
    height: 300px;
    margin: 0;
}

div.upper {
    display: flex;
    z-index: 10;
}

div.social {
    display: flex;
}

div.products_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 80px;
}

h3.product, p.product_footer {
    width: 70px;
    margin: 5px 30px;
}

h3.product:hover, p.product_footer:hover {
    color: #ffffff;
    cursor: pointer;
    border-bottom: #fff solid 2px;
}

p.code {
    float: right;
    font-size: 20px;
    color: #d9d9d9;
    position: absolute;
    right: 10px;
    bottom: 20px;
}

div.lower {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

/* Footer Finish */

@media only screen and (max-width:767px) {
    ul {
        z-index: 10;
        position: fixed;
        top: 90px;
        left: -100%;
        transition: all .5s;
        display: block;
        margin-top: 20px;
        margin-bottom: 25px;
        /* overflow-x: hidden; */
        background-image: linear-gradient(0deg, #f7d6e0, #ea94ae);
        /* background-color: #f7d6e0; */
        width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        box-shadow: 15px 15px 20px #f2b5d4;
    }
    nav {
        display: flex;
    }
    ul li {
        line-height: 70px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #888888;
        width: 100%;
        height: 70px;
        background-color: transparent;
    }
    nav .logo {
        height: 70px;
        max-width: 270px;
    }
    .fa-list-ul {
        color: #f20b97;
        display: inline-block;
        font-size: 22px;
        text-align: end;
        cursor: pointer;
        margin-right: 20px;
    }
    .fa-list-ul:active {
        color: #ee73c4;
    }
    .fa-list:active~ul {
        left: 0%;
    }
    .logodiv {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
    }
    #check:checked~ul {
        left: 0%;
    }
}